{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [["wildcard", {
      "exts": ["jfif", "png", "jpg", "jpeg"],
      "nostrip": true,
       "noModifyCase": true
  }]]
}
